* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(180, 247, 210, 0.363);
    font-family: 'Open Sans', sans-serif;
    margin-top: 200px;

}

.wrapper {
    width: 100%;
    margin: auto;
}

header {
    margin: 0;
    padding: 0;
    text-align: center;
    position: fixed;
    left: 0;
    top: 20px;
    right: 0;
    height: max-content;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
   
}

h {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(229, 22, 108);
    background-color: rgba(238, 43, 160, 0.1);
    box-shadow: 3px 4px 7px #888888;
    box-sizing: content-box;
    font-size: xx-large;

}
h1 {
    color: rgb(23, 19, 21);
    padding: 0;
}


.nav-container {
    position: fixed;
    margin: 0;
    left: 0;
    top: 0;
    right: 0;
    height: max-content;
    background-color: rgb(194, 247, 220);
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    padding: 20px 20px;
    z-index: 998;
}

.nav-container img {
    width: 15%;
    float: left;
    margin: 10px 0;
    padding: 10px;
    box-shadow: 3px 4px 7px #888888;
    background-color: rgba(238, 43, 160, 0.1);
   

}

.nav-container a {
    color: black;
    text-decoration: none;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    float: left;
    width: 55%;
    margin-top: 120px;
    margin-left: 50px;
    position: relative;
}

.nav ul li {
    display: inline-block;
    width: 100px;
    position: relative;
    cursor: pointer;
    font-variant: normal;
    text-align: center;
}

.nav-Log {
    flex: content;
    float: right;
    display: block;
    margin: 0 20;
    padding: 10px;
    width: 20%;
    position: relative;
    background-color: rgba(238, 43, 160, 0.1);
    box-shadow: 3px 4px 7px #888888;

}


::placeholder {
    width: max-content;
    height: max-content;
    margin: 0;
    padding: 0;
    color: orange;

}

.nav-Log button {
    background-color: #04AA6D;
    color: white;
    padding: 2px 2px;
    margin-bottom: 10px;
    border: 3;
    cursor: pointer;
    font-variant: normal;
}

.main-container {
    max-width: 2440px;
    padding: 5%;
}

.main-container aside {
    float: left;
    margin-top: 10px;
}


.main-container main {
    float: right;
    margin-top: 10px;

}

aside {
    width: 15%;
}

aside section {
    background-color: lightgray;
    box-shadow: 3px 4px 7px #888888;
    padding: 10px;
    margin: 0 25px 25px 0;
}

.media img {
    width: 25%;
    padding: 2px;
    box-shadow: 3px 4px 7px #888888;
}

.cycle-slideshow img {
    width: 100%;
    padding: 5px;
    margin-bottom: 10%;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    box-shadow: 3px 4px 7px #888888;
}

main {
    width: 80%;
    background-color: lightgray;
    box-shadow: 3px 4px 7px #888888;
    padding: 10px;
    margin-bottom: 10%;
    text-decoration: none;

}

article h1 {
    color: black;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2em;
}

article p {
    color: black;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    line-height: 250%;
}

#main {
    margin: 0 auto;
    padding: 0;
    width: 900px;
    text-align: left;
    height: 100%;
}


.imageGroup {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    text-decoration: none;
}

.imageGroup div img {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    width: 230px;
    box-shadow: 3px 4px 7px #888888;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(206, 241, 203);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-variant: normal;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    z-index: 999;
}

/* MEDIA QUERY */
@media screen and (min-width: 200px) and (max-width: 480px) {
    
    h {
        color: rgba(204, 45, 45, 0.884);
        font-size: small;
    }

    .nav {
        font-size: 1em;
        width: 80%;
        margin: 0;
        text-align: center;
    }

    .nav ul {
        display: block;
        width: 100px;
        position: relative;
        cursor: pointer;
        margin-top: 10%;
        font-size: small;
        
    }

    .nav li {
        background-color: rgba(204, 45, 45, 0.2);
        border-radius: 1em;
        list-style-type: none;
        width: 10%;
        margin-bottom: 0.5em;
        text-align: center; 
    }

    .nav-container img {
        width: 20%;
       margin-top: 25px;
        padding: 2px;
    }

    .nav-Log {
        float: right;
        width: 100%;
        background-color: rgba(204, 45, 45, 0.2);
        box-shadow: 3px 4px 7px #888888;
       font-size: small;
       display: block;
       margin: 0 20; 
    }
    
    .nav-Log text {
    width: 20px;
    }

    input[type="text"] {
  width: 90%;
    }

    input[type="password"] {
        width: 90%;
          }

    ::placeholder {
        font-size: small;
        color: rgb(96, 59, 177);
       width: max-content;
    }

    .nav a {
        padding: .8em;
       
        width: 100%;
        text-decoration: none;
    }

    .main-container {
        padding: 5%;
        margin-top: 500px;
    }
    .main-container main {
        margin-bottom: 130px;
    }

    .media {
        align-items: center;
        
    }

    aside {
        width: 100%; 
    }

    main {
        width: 100%;   
    }

   aside section {
        padding: 5px;
    }
      aside h1{
        font-size:small;
        margin-left: 50px;
      }

      .media img {
        width: 15%;
    margin-left: 50px;
    }
      .tooltip{
        font-size: small;  
        margin-left: 50px;
      }

      .cycle-slideshow img {
        width: 100%;
        padding: 1px;
    }

    .imageGroup {
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        text-decoration: none;
    }
    .imageGroup div img {
        padding: 10px;
        font-size: 30px;
        text-align: center;
        text-decoration: none;
        width: 200px;
        box-shadow: 3px 4px 7px #888888;
    }
   
  main h1{
    font-size: large;   
  } 
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    h {
        color: rgb(29, 22, 229);
        font-size: x-large;
        margin-left: 20%;
    }

    .nav {
        font-size: 1em;
        width: 80%;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .nav-container img {
        width: 15%;
        float: left;
        margin: 1px 0;
        padding: 10px;
    }
    .nav ul {
        display:inline;
        justify-content: space-around;
        position: relative;
        cursor: pointer;
        margin-top: 10%;
    }

    .nav ul li {
        background-color: rgba(56, 71, 236, 0.2);
        display:inline-flexbox;
        margin-bottom: 0.5em;
        list-style-type: none;
        text-align: center;
        width: max-content;
        height: max-content;
        padding: 5px;
        border-radius: 1em;
        justify-content: space-around;
        text-align: center;

    }
    .nav ul li a {
        text-decoration: none;
        font-size: 0.8em;
        line-height: 0.5em;

    }

    .nav-Log {
       margin-left: 100px;
        width: max-content;
        position: relative;
        background-color: rgba(56, 71, 236, 0.2);
        box-shadow: 3px 4px 7px #888888;
        float: left;

    }

    .nav a {
        display: inline-block;
        padding: 1em;
        width: 100%;
        text-decoration: none;
    }

    .main-container {
        max-width: 2440px;
        padding: 15%;
        margin-top: 450px;
    }

    h1 {
        font-size: small;
    }

    .tooltip{
        font-size: small;
    }
    aside {
        width: 33%;
    }
    main {
        width: 67%;
    }
    
}


@media screen and (min-width: 769px) and (max-width: 1279px){
    
    h {
        color: rgb(243, 118, 15);
        font-size: xx-large;
        margin-left: 15%;
    }

    .nav ul li {
        background-color: rgba(243, 118, 15, 0.2);
        width: max-content;
        height: max-content;
        padding: 5px;
        border-radius: 1em;
        justify-content: space-around;
        text-align: center;

 
    }

    .nav ul li a {
        text-decoration: none;
        font-size: 1em;
        line-height: 2em;

    }

    .nav-Log {
        background-color: rgba(243, 118, 15, 0.2);
       float: left;
       margin-top: 20px;
       margin-left: 300px;
        width: max-content;
        position: relative;
        box-shadow: 3px 4px 7px #888888;
      

    }
    .main-container {
        max-width: 2440px;
        padding: 15%;
        margin-top: 350px;
    }
    
    aside {
        width: 25%;
    }
    main {
        width: 75%;
    }
}

@media screen and (min-width: 1280px){
    
    
    .main-container {
        max-width: 2440px;
        padding: 5%;
 
    }
    aside {
        width: 15%;
    }
    main {
        width: 80%;
    }
    .nav-container img {
        width: 15%;
    }
    .tooltip{
        font-size: large;
    }
    h1 {
        font-size: large;
    }
}

